/* <===================== Google Fonts ====================> */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
/* font-family: 'Roboto Slab', serif; */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&display=swap');
/* font-family: 'Abril Fatface', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap');
/* font-family: 'Herr Von Muellerhoff', cursive; */

/* <===================== Google Fonts ====================> */


/*   CSS Variables  */
:root{
    --dark-blue-color: #033564;
    --light-blue-color: #4d90cf;
    --yellow-color:  #FFD700;
    --orange-color: #ff9900;
    --grey-color:  #47484b;
    --light-grey-color:  #d3cccc;;
    --white-color:  #ffff;
    --transparent-blue-color: rgba(7, 59, 119, 0.7);
}
/* */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-family:'Source Sans Pro', sans-serif;
    font-size: 10px;
    color: var(--white-color);
}

body{
    overflow-x:hidden;
}

a{
    text-decoration: none;
}

ul{
    list-style:none;
}

/* Reusable Style */
.container{
    width: 100%;
    margin: 0 auto;
}

.fa-clock, .fa-calendar-alt, .fa-map-marker-alt{
    margin-right: 5px;
}

.fa-caret-down{
    margin-left: 5px;
}
/* */

/* Header */
    header{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    header .logo{
        display: absolute; 
        top:0;
        left: 0;
        max-width:120px;
        max-height: 100px;
        transform: translateY(-10%);
    }

    header .container{
        width: 100%;
        margin: 0 auto;
    }

/*nav bar*/

    .menu-toggle{
        color: #ffff;
        position: absolute;
        font-size:50px;
        top:50%;
        transform: translateY(-50%);
        right: 10px;
        cursor: pointer;
        z-index:1500;
        display: none;
    }

    nav{
        display: flex;
        background-color: var(--transparent-blue-color);
        width: 100%;
        height: 11vh;
        border-bottom: 3px solid var(--dark-blue-color);
        z-index: 1000;
    }

    .nav-list{
        display:flex;
        position: absolute;
        justify-content: space-around;
        width: 80%;  
        left: 100px; 
        padding: 45px 0px;    
    }

    .nav-list  li{
        position: relative;
    }

    .nav-list a{
        display: block;
        color: var(--white-color);
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Roboto Slab', serif; 
    }

    .nav-list a:hover{
        color: var(--yellow-color);
    }

    .submenu{
        width: 200px;
        display: block;
        position: absolute;
        border-top: 2px solid var(--light-blue-color);
        background-color: var(--transparent-blue-color);
        z-index: 100;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 650ms ease;
    }

    .submenu::before{
        content: "";
        position: absolute;
        top: -20px;
        left: 10px;
        border: 10px solid transparent;
        border-bottom-color: var(--light-blue-color);
    }

    .submenu a{
        padding: 10px 10px;
    }

    .nav-list li:hover>.submenu{
        top: 33px;
        opacity: 1;
        visibility: visible;
    }

@media screen and (max-width:850px){

    .menu-toggle{
        display: block;
    }

    .menu-toggle .fa-times{
        display: none;
    }

    nav{
        display: absolute;
        background-color:transparent;
        border-bottom: none;
        z-index: 1000;
    }

    header .logo{
        display: absolute; 
        top:0;
        left: 0;
        max-width:140px;
        max-height: 140px;
    }

    .nav-list{
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 50%;
        height: 100vh;
        background-color: var(--dark-blue-color);
        z-index: 1400;
        transform: translateX(-100%);
        transition: transform .5s;
    }

    .nav-list  li{
        position: relative;
        font-size: 15px;
    }

    .nav-list a{
        font-size: 16px;
        margin: 0px 30px;
        font-weight:bolder;
    }
     
    nav::before{
        content: '0';
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--transparent-blue-color);
        z-index: 1000;
        opacity: 0;
        transform: scale(0);
        transition: opacity .5s;
    }

/*sub-menu */
    .submenu{
        width: 200px;
        position: initial;
        border: 2px solid transparent;
        border-left-color: var(--light-blue-color);
        margin-left: 30px;
        max-height: 0;
    }

    .submenu::before{
       display: none;
    }

    .submenu a{
        margin: 3px 0px;
        font-size: 14px;
    }
    
    .nav-list li:hover > .submenu{
        opacity: 1;
        visibility: visible;
        max-height: initial;
    }

/* Javascript */
    .open .fa-times{
        display: block;
    }

    .open .fa-bars{
        display: none;
    }

    .open .nav-list{
        transform: translateX(0);
    }

    .open nav::before{
        opacity: 1;
        transform: scale(1);
    }
}

/* End of Navbar */

/*Start of slider */
    .Slider{
        position: relative;
        display: flex;
        width: 100%; 
    }

    .slideitem{
        height: 680px;
        display: none;
        overflow: hidden;
        width: 100%;
        object-fit: fill;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .dotsbox{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 20px;
        cursor: pointer;
    }

    .dot{
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 3px solid var(--white-color);
        border-radius: 50%;
        margin: 0 10px;
        cursor: pointer;
    }

    .active, .dot:hover {
        background-color: var(--dark-blue-color);
    }

    .heroimage{
        width: 100%;
        height: 100%;
        transform: scale(1.5, 1.5);
        display: block;
        /*animation */
        animation-name: zoomin;
        animation-duration: 40s;
    }

    @-webkit-keyframes zoomin{
        from {transform: scale(1,1);}
        to{transform:scale(1.5, 1.5);}
    }

    @keyframes zoomin{
        from {transform: scale(1,1);}
        to{transform: scale(1.5,1.5);}
    }

    .hero {
        display: flex;
        flex-direction: column; 
        position: absolute;
        text-align: center;
        align-items: center;
        top: 50%;
        left: 25%;
        /*animation */
        -webkit-animation-name: posi;
        -webkit-animation-duration: 2s;
        animation-name: posi;
        animation-duration: 2s;
    } 

    @-webkit-keyframes posi{
        from {left:25%}
        to{left:15%;}
    }

    @keyframes posi{
        from{left:25%}
        to{left:15%}
    }

    .intro{
        font-size: 100px;
        font-weight: 300;
        font-family: 'Herr Von Muellerhoff', cursive; 
        color: var(--yellow-color);
        text-shadow: 2px 2px 2px rgba(0,0,0,.6);
        line-height: 0.2;
        letter-spacing: 10px;
        letter-spacing: 2px;
    }

    .company{
        font-size: 40px;
        color: var(--white-color);
        padding: 10px;
        text-shadow: 2px 2px 2px rgba(0,0,0,.7);
        font-family: 'Abril Fatface', cursive; 
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    .quote{
        font-size: 10px;
        color: var(--white-color);
        padding: 10px;
        text-shadow: 2px 2px 2px rgba(0,0,0,.7);
        font-family: 'Abril Fatface', cursive; 
        letter-spacing: 3px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .single-animation{
        animation: fadeDOWN .5s forwards;
        animation-delay: 2.5s;  
    }

    @keyframes fadeDOWN{
        0%{
            transform: translateY(-10px)
        }
        100%{
            opacity: 1;
            transform: translateY(0);
        }
     }

    .btn-1 {
        position: relative;
        background: linear-gradient(90deg,var(--dark-blue-color), var(--light-blue-color));
        color: var(--white-color);
        font-size: 13px;
        font-weight: bolder;
        padding: 10px 30px;
        cursor: pointer;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        font-family: 'Roboto Slab', serif;
    }

    .separator{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .line{
        width: 100%;
        height: 2px;
        background-color: var(--white-color);
        position: relative;
        /*animation */
        animation: grow 2s forwards;
        animation-delay: 2.5s;    
        opacity: 0;
    }

    @keyframes grow{
        from{width: 0%}
        to{width: 100%}
        0% {opacity:0;}
        100% {opacity:1;}
     }

    .line-right::before,
    .line-left::before{
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: 8px solid transparent;
        border-right-color: var(--white-color);
    }

    .line-right::before{
        border-left-color: var(--yellow-color);
        right: 0;
    }

    .line-left::before{
        border-left-color: var(--yellow-color);
        left: 0;
    }

    .fa-plane{
        margin: auto 10px;
        color: var(--yellow-color);
    }

/*Responsive slider */
@media screen and (max-width:1100px){
    .hero{
        top: 40%;
        left: 15%;
    }
}

@media screen and (max-width:850px){

    .slideitem{
       height: 500px;
    }

    .hero{
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translateY(-50%);
        /*animation */
        -webkit-animation-name: posi2;
        -webkit-animation-duration: 2s;
        animation-name: posi2;
        animation-duration: 2s;
    }

    @-webkit-keyframes posi2{
        from{top:20%;}
        to{ top: 50%}
    }

    @keyframes posi2{
        from {top:20%}
        to{top:50%;}
    }

    .intro{
        font-size: 80px;
    }   

    .company{
        font-size: 20px;
    }

    .quote{
        font-size: 14px;
    }
}

@media screen and (max-width:610px){
    .hero{
        top: 50%;
        left: 8%;
    }
}

/* International Tour Section*/
    .tour{
        background-color: var(--white-color);
        padding: 30px 0px;
        width: 100%;
        text-align: center;
    }

    .tour-container {
        display: flex;
        width: 100%;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 20px 0;
    }

    .tour-card{
        position: relative;
        height: 300px;
        width: 250px;
        margin: 10px auto;
        box-shadow: 0px 14px 80px rgba(0, 0, 0, 0.5);
        transition: transform 0.5s ease-in;
        align-items: center;
    }

    .tour-card:hover{
        transform: translateY(10px);
        background: rgb(0, 0, 0. 0.9);
    }

    .tour-img {
        width: 100%;
        height: 100%;
        object-fit:cover;
    }

    .tour-details{
        position: absolute;
        top: 0;
        right:0;
        width: 100%;
        height: 100%;
        font-family: 'Roboto Slab', serif;
        z-index: 1;
        transform: translateY(0px);
    }

    .tour-details:hover{
        background: var(--transparent-blue-color);
        transform: translateY(0px);
    }

    .tour-contained{
        position: relative;
        top: 5px;
        height: 10vh;
        width: 100%;
        background: var(--transparent-blue-color);
        transform: translateY(235px);
        border-bottom: 2px solid var(--dark-blue-color);
        text-align: center; 
    }

    .tour-details:hover .tour-contained{
        transform: translateY(0px);
        background: transparent;
        border-bottom: transparent;
    }

    .tour-name{
        position: relative; 
        bottom: 2px;
        font-size: 15px;
        font-weight: 1600;
        color: var(--white-color);
        font-family: 'Abril Fatface', cursive; 
        text-transform: uppercase;
        z-index: 100;
        text-shadow: 2px 2px 2px rgba(0,0,0,.5);
    }

    .tour-name:after {
        content: " ";
        display: block; 
        width: 20%;
        height: 2px;
        margin: 2px auto;
        border: 0;
        background: var(--yellow-color);
        transition:all 0.2s;
    } 

    .icons{
        position: relative;
        width: 100%;
        bottom: 0;
        display: flex;
        justify-content: space-around;
        color: var(--light-grey-color);
        z-index:100;
    }

    .tour-type{
        position: relative;
        top: 20px;
        right: 10px;
        color: var(--white-color);
        font-size: 15px;
        font-weight: bold;
        text-align: right;
        text-shadow: 2px 2px 2px rgba(0,0,0,.2);
        transition: transform 1s cubic-bezier(.46, 1.48, .18, .81);
        transform:translateY(50px); 
        opacity: 0;
    }

    .tour-day{
        position: relative;
        top: 0;
        left: 10px;
        color: var(--white-color);
        font-size: 15px;
        font-weight: bold;
        text-align: left;
        text-shadow: 2px 2px 2px rgba(0,0,0,.2);
        transition: transform 1s cubic-bezier(.46, 1.48, .18, .81);
        transform:translateY(50px); 
        opacity: 0;
    }

    .international-price{
        position: relative;
        top: 30px;
        display: flex;
        flex-direction: column;
        position: relative;
        font-size:  20px;
        color: var(--orange-color);
        font-weight: bold;
        text-shadow: 2px 2px 2px rgba(0,0,0,.3);
        transition: transform 1s cubic-bezier(.46, 1.48, .18, .81);
        transform:translateY(50px); 
        opacity: 0;
    }

   .international-price span{
        font-size:  13px;
        color: var(--white-color);
    }


    .tour-details a{
        top: 50px;
        transition: transform 1s cubic-bezier(.46, 1.48, .18, .81);
        transform:translateY(50px); 
        opacity: 0;
    }

    .tour-details:hover .tour-type,
    .tour-details:hover .tour-day,
    .tour-details:hover .international-price,
    .tour-details:hover a{
        opacity: 1;
        transform: translateY(0px); 
    }

/* Reusable Style */
/* tittle */
    .heading{
        font-size:30px;
        font-weight: 400;
        font-family: 'Herr Von Muellerhoff', cursive; 
        text-shadow: 1px 1px 1px rgba(0,0,0,.2);
        color: var(--yellow-color);
        line-height: 0.2;
        letter-spacing: 2px;
        text-transform: uppercase; 
        /*animation */
        opacity: 0;
        animation: fadeUP .5s forwards;
        animation-delay: .5s;
    }

    @keyframes fadeUP{
        0%{
        transform: translateY(4rem)
        }
        100%{
        opacity: 1;
        transform: translateY(0);
        }
    }

    .subheading{
        font-size: 20px;
        color: var(--dark-blue-color);
        padding: 10px;
        font-family: 'Abril Fatface', cursive; 
        text-shadow: 2px 2px 2px rgba(0,0,0,.2);
        letter-spacing: 0.3rem;
        line-height: 0.9;
        text-transform: uppercase;
        /*animation */
        animation: scale .5s forwards;
    }

    @keyframes scale{
        0%{
        transform: scale(3)
        }
        100%{
        opacity: 1;
        transform: scale(1);
        }
    } 

    .btn-card{
        position: relative;
        bottom: 18px;
        background-color: var(--light-blue-color);
        color: var(--yellow-color);
        cursor: pointer;
        font-size:  11px;
        font-weight: bold;
        padding: 10px 30px;
        border: 0;
        transition: all 0.5s;
        border-radius: 10px;
    }

    .btn-card:hover {
        width: 100%;
        background: var(--dark-blue-color);
        transition-delay: 0s, 0.5s; 
    }

    .btn-card::after {
        content: '';
        position: absolute;
        top: 12px;
        left: 110px;
        width: 8px;
        height: 8px;
        border-top: 3px solid var(--white-color);
        border-right: 3px solid var(--white-color);
        transform: rotate(45deg);
    } 

    .btn-card:hover::after {
        transform: rotate(45deg) scale(1.5);
    }
/* */

/* Responsive Tour Cards */
    @media screen and (max-width:850px){
        .tour-card{
            height: 300px;
            width: 350px;
            box-shadow: 0px 14px 80px rgba(0, 0, 0, 0.2);
        }
    }

/* End of International Tour Section */
/*Hiking Section */
    .hiking{
        width: 100%;
        height: auto;
        padding: 30px 0px;
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/Hiking/travel_1.jpg") no-repeat;
        background-size: cover;
        align-content: center;
        text-align: center;
    }

    .hiking-container{
        padding: 10px 30px;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .hiking-image{ 
        height: 100%;
        width: 100%;
        background: url("images/Hiking/Hiking_4.jpg") no-repeat center;
        background-size: cover;
        box-shadow: 0 14px 80px rgba(0,0,0,0.7);
    }

    .hiking-tours-card{
        height: 60vh;
        width: 100%;
        box-shadow: 0 14px 80px rgba(0,0,0,0.7);
        background-color: var(--transparent-blue-color);
        text-align: center;
    }

    .hiking-tours-card h2{
        position: relative;
        margin-bottom: 5px;
        font-size: 20px;
        box-shadow: 0 14px 80px rgba(0,0,0,0.7);
        color:  var(--white-color);
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        text-shadow: 2px 2px 2px rgba(0,0,0,.3);
        background-color: var(--light-blue-color);
        padding: 10px 267px;
        text-align: center;
        font-family: 'Abril Fatface', cursive; 
    }

    .hiking-tours ul{
        position: relative;
        display: block;
        font-family: 'Abril Fatface', cursive; 
    }

    .hiking-tours ul li {
        position: relative;
        display: table;
        margin-bottom: 10px;
        margin-left: 90px;
        line-height: 20px;
    }

    .hiking-tours ul li::before {
        content: '';
        position: absolute;
        top: 0;
        left: -30px;
        width: 28px;
        height: 28px;
        background: transparent;
        border-radius: 50px;
        transition: width 0.5s;
        border: 2px solid var(--light-blue-color);
        box-sizing: border-box;
    }

    .hiking-tours ul li:hover::before {
        width: 115%;
        background: var(--light-blue-color);
        transition-delay: 0s, 0.5s;
    }

    .hiking-tours ul li::after {
        content: '';
        position: absolute;
        top: 8px;
        left: -25px;
        width: 8px;
        height: 8px;
        border-top: 2px solid var(--white-color);
        border-right: 2px solid  var(--dark-blue-color);
        transform: rotate(45deg);
    }

    .hiking-tours ul li:hover::after {
        transform: rotate(45deg) scale(1.5);
    }

    .hiking-tours ul a{
        position: relative;
        z-index: 10;
        font-size: 13px;
        color: var(--white-color);
        letter-spacing: 2px;
        text-shadow: 2px 2px 2px rgba(0,0,0,.3);
    }

    .hiking-tours ul a span{
        font-size: 15px;
        text-transform: uppercase;
        color: var(--yellow-color);
        text-shadow: 2px 2px 2px rgba(0,0,0,.3);
    }

     .btn-2{
        position: relative;
        top: 10px;
        background: linear-gradient(90deg,var(--light-blue-color), var(--white-color));
        color: var(--dark-blue-color);
        font-family: 'Roboto Slab', serif;
        font-weight: bolder;
        font-size: 14px;
        padding: 10px 50px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        
    }
/*Reusable Styles */
/*tittle*/
    .second-heading{
        font-size:40px;
        font-weight: 400;
        font-family: 'Herr Von Muellerhoff', cursive; 
        text-shadow: 2px 2px 2px rgba(0,0,0,.3);
        color: var(--yellow-color);	
        line-height: 0.2;
        letter-spacing: 2px;
        /*animation */
        opacity: 0;
        animation: fadeUP .5s forwards;
        animation-delay: .5s;
    }

    .second-subheading{
        color: #ffff;
        font-size: 20px;
        padding: 10px;
        font-family: 'Abril Fatface', cursive; 
        text-shadow: 2px 2px 2px rgba(0,0,0,.5);
        letter-spacing: 0.3rem;
        line-height: 0.9;
        text-transform: uppercase;
        /*animation */
        animation: scale .5s forwards;
    }
/* */

@media screen and (max-width:850px){
        .hiking-container{
            max-width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        }   
        
        .hiking .hiking-image{ 
            display: none;
        }

        .hiking-tours-card{
            height: 60vh;
            width: 100%;
            background-color: var(--transparent-blue-color);
        }

        .hiking-tours ul li {
            position: relative;
            margin-left: 40px;
        }
    
        .hiking-tours-card h2{
            padding: 10px 100px; 
        }

    }

 @media screen and (max-width:450px){

    .hiking-container{
        padding: 10px 10px;
    }
    .hiking-tours ul a{
        font-size: 8px;
    }

    .hiking-tours ul a span{
        font-size: 9px;
    }

    .btn-2{
        font-size: 10px;
        padding: 10px 30px;
     }
 }

/*End of Hiking Section */
/*Start of Local Card Section */

    .local{
        background-color: var(--dark-blue-color);
        padding: 30px 0px;
        width: 100%;
        text-align: center;
    }

    .local-container { 
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 40px 30px;
        grid-gap: 40px;
    }

    .local-card{ 
        background-color: var(--white-color);
        box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.4);
        text-align: center;
        transition: transform 0.5s ease-in;
        height: 57vh;
        width: 100%;
    }

    .local-card:hover{
        transform: translateY(10px);
        background: rgb(0, 0, 0. 0.9);
    }

    .local-img {
        width: 100%;
        height: 30vh;
        object-fit: cover; 
    }
    .img-box{
        position: relative;
        object-fit: cover;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }

    .local-details{
        width: 100%;
        font-family: 'Roboto Slab', serif;     
    }
    
    .local-name{
        position: relative;
        bottom: 8px;
        font-size: 15px;
        color: var(--dark-blue-color);
        font-weight: bold;
        font-family: 'Abril Fatface', cursive;
        text-transform: uppercase;
    
    }
    .local-name:after {
        content: " ";
        display: block; 
        width: 20%;
        height: 2px;
        margin: 5px auto;
        border: 0;
        background: var(--light-blue-color);
        transition:all 0.2s;
    }

    .local-type{
        position: relative;
        bottom: 8px;
        font-size: 13px;
        font-weight: bold;
        color: var(--grey-color);
        text-align: right;
        right: 5px;
    }

    .local-days{
        position: relative;
        bottom: 22px;
        font-size: 13px;
        font-weight: bold;
        color: var(--grey-color);
        text-align: left;
        left: 5px;
    }

    .local-price{
        display: flex;
        flex-direction: column;
        position: relative;
        font-size:  18px;
        color: var(--orange-color);
        font-weight: bold;
        text-shadow: 1px 1px 1rem rgba(0,0,0,.1);
        bottom: 15px;
    }

    .local-price span{
        font-size:  11px;
        color: var(--grey-color);
    }

    .icons-1{
        position: relative;
        width: 100%;
        display: flex;
        justify-content:space-around;
        align-items: center;
        text-align: center;
        color: var(--grey-color);
        bottom: -35px;
    }

 /*End of Local Card Section */
 /* Section for contact us */
    .contact{
        background: var(--white-color);
        padding: 10px 0px;
        height: auto;
        width: 100%;
        text-align: center;
    }

    .contact-container{
        padding: 20px 20px;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        text-align: center;
    }

    .contact-image{
        height: 100%;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/contact-2.jpg") no-repeat center;
        background-size: cover;
    }

    .contact-card{
        position: relative;
        height: 100%;
        width: 100%;
        justify-content: center;
        background: var(--white-color);
        padding: 30px 30px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
     
    .text-area,
    .input-text{
        width: 100%;
        box-sizing: border-box;
        box-shadow: none;
        outline: none;
        border: none;
        border-bottom: 2px solid var(--dark-blue-color);
    }

    .input-text{
        padding: 5px 0;
        margin-bottom: 15px;
    }

    .text-area{
        height: 80px;
        margin-bottom: 20px;
        padding: 5px 0;
    }

    .form-field{
      position: relative;
    }

    .text-area:focus ~ .label-name,
    .input-text:focus ~ .label-name{
        top: -10px;
        left: 0;
        color: var(--orange-color);
        font-size: 14px;
        font-weight: bold;
    }
     
    .label-name{
         position: absolute;
         top: 10px;
         color: var(--dark-blue-color);
         left: 0;
         pointer-events: none;
         transition: all 0.3s ease;
     }

     .submit-btn{
        position: relative;
        background: linear-gradient(90deg,var(--dark-blue-color), var(--light-blue-color));
        color: var(--white-color);
        font-size: 13px;
        font-weight: bolder;
        padding: 10px 50px;
        cursor: pointer;
        border-radius: 5px;
        border: none;
        text-decoration: none;
        text-align: center;
        font-family: 'Roboto Slab', serif;       
     }

@media screen and (max-width:850px){
        .contact-container{
            max-width: 100%;
            display: grid;
            grid-template-columns: 1fr;
        }   
        
        .contact-image{ 
            display: none;
        }
    }
    
 /* End of contact us */
 /*Start of Footer Section  */
   footer{
        background-color: var(--dark-blue-color);
        color: var(--white-color);
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        padding: 10px;
        justify-content: center;
        text-align: center;
    }

    .footer-container{
        display: flex;
        position: relative;
        justify-content: space-around;
        padding: 10px;
        font-family: 'Roboto Slab', serif;
    }

    .contact-footer h4{
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 100px;
        padding-bottom: 5px;
        color: var(--yellow-color);  
        text-align: left;
    }

    .address-details {
        font-size: 12px;
        font-weight: 100px;
        padding-bottom: 5px; 
        font-family: 'Roboto Slab', serif;
        color: var(--white-color);
        text-align: left;
    }

    .contact-details li{
        padding-bottom: 2px; 
        color: var(--white-color);
        text-align: left;
    }

    .contact-details a{
        font-size: 11px;
        color: var(--white-color);
        font-weight: 100px;
    }

    .menu li{
        padding-bottom: 5px; 
        color: var(--white-color);
        text-align: left;
    }

    .menu a{
        font-size: 12px;
        color: var(--white-color);
        font-weight: 100px;
    }
  
    .social-icons a{
        color: var(--white-color);
        padding: 5px;
    }

    .social-icons a:hover,
    .social-icons a:focus{
        color: var(--yellow-color);
    }

@media screen and (max-width:850px){
    .contact-footer h4{
        font-size: 18px;
    }
 }
 /*End of Footer Section  */

/* <===================================================> */

 